
*.zip

São Paulo Pesquisas/Site/style.css

Buzinas Mídias/js/backgroundImageFix.js

Buzinas Mídias/js/backgroundImageFix.js

Buzinas Mídias/js/backgroundImageFix.js

Electrolux/Panela Elétrica RCB10/js/jquery-1.11.1.min.js

São Paulo Pesquisas/Site/js/jquery.bxslider/jquery.bxslider.min.js

São Paulo Pesquisas/Site/js/jquery.js

São Paulo Pesquisas/Site/old/js/jquery.js
