<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="pt-br">

<head>
    <title>Liquidificador Easy Power BEE21 | Electrolux</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Estilo a toda potência. Mais resistente, higiênica, suporta altas temperaturas.">
    <meta name="Author" content="Estúdio RBianco">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/main.css">
    <!-- End Stylesheets -->
</head>

<body>
    <!--Container-->
    <div id="container">
        <!--Header-->
        <div id="header">
            <div class="content-center">

                <img src="images/electrolux-logo.png" height="43" width="149" alt="Logotipo Electrolux" title="Electrolux" id="logo" class="absolute">

                <div class="main-txt absolute">
                    <h1></h1>
                    <img src="" alt="" title="" class="nome-produto">
                    <h2></h2>
                    <h3></h3>
                    <p></p>
                    
                </div>

                <div class="hotspots">
                    <ul>
                        <li class="cd-single-point absolute item1">
                            <a class="cd-img-replace" href="#">Saiba Mais</a>
                        </li> 
                    </ul>
                </div>

                <div class="hotspots-content">
                    <img src="" alt="" title="" class="item1 absolute">
                </div>
                
            </div>
        </div>
        <!--End of Header-->

        <!--Content-->
        <div id="content">

            
            
            <!-- Video -->
            <div id="video">
                <div class="content-center">
                    <h3>Assista ao vídeo do produto</h3>
                    <iframe width="700" height="394" src="https://www.youtube.com/embed/3kNumpxjbcY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- End Video -->

            <!-- Embalagem | Especificações -->
            <div id="embalagem-especificacoes">
                <div class="content-center">
                    <div class="txt absolute">
                        <h3>Embalagem</h3>
                        <ul>
                            <li>1 Aspirador de pó Nano NAN11</li>
                            <li>1 bocal 2 em 1 para todos os tipos de piso.</li>
                            <li>1 bocal 2 em 1 para cantos e frestas.</li>
                            <li>1 bocal para estofados.</li>
                            <li>2 tubos prolongadores.</li>
                            <li>Manual de instruções.</li>
                            <li>Garantia do produto.</li>
                        </ul>

                        <h3>Especificações técnicas</h3>
                        <ul>
                            <li><strong>Altura:</strong> 206mm</li>
                            <li><strong>Largura:</strong> 300mm</li>
                            <li><strong>Profundidade:</strong> 240mm</li>
                            <li><strong>Peso líquido:</strong> 2kg</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Embalagem | Especificações -->

        </div>
        <!--End of Content-->

    </div>
    <!--End of Container-->
    
    <!-- Scripts -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/script.min.js"></script>
    <!-- End Scripts -->
</body>

</html>