@charset "UTF-8";
/*=================================
=            Reset CSS            =
=================================*/
* {
  margin: 0;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  list-style: none;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

body, html {
  width: 100%;
  min-height: 100%;
  min-width: 800px;
  overflow-x: hidden;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 780px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.absolute {
  position: absolute;
  left: 50%;
}

.hotspots li {
  z-index: 10;
  opacity: 1 !important;
}

.hotspots-content img {
  z-index: 9;
  opacity: 0;
  -webkit-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.hotspots-content img.active {
  opacity: 1;
}

.animated {
  opacity: 0;
}

/*End of Reset Css*/
/*===================================
=            Definitions            =
===================================*/
.title1 {
  font: normal 36px/0.8em "Roboto Condensed", sans-serif;
  color: #1d4783;
  margin-bottom: 18px;
}
.title1 strong {
  font-weight: bold;
  display: block;
}

.text {
  font: normal 16px/1.2em Arial, sans-serif;
  color: #575756;
}

/*==============================
=            Header            =
==============================*/
header {
  background: url(../images/bg-header.jpg) no-repeat center;
  height: 459px;
  position: relative;
  overflow: hidden;
}
header figure#logo {
  top: 33px;
  margin-left: 213px;
}
header .main-title {
  top: 33px;
  margin-left: -357px;
}
header .main-title h1 {
  margin-bottom: 9px;
}
header .main-title h1 strong {
  display: inline;
}
header .main-title ul li {
  font: normal 18px "Roboto Condensed", sans-serif;
  color: #575756;
  display: inline-block;
}
header .main-title ul li:after {
  content: "•";
  display: inline-block;
  margin: 0 5px;
  color: #f7b129;
  font-size: 41px;
  vertical-align: middle;
  line-height: 0;
}
header .main-title ul li:last-child:after {
  content: "";
}
header h2 {
  top: 297px;
  margin-left: 178px;
}
header .parallax-area {
  width: 800px;
  height: 440px;
  top: -112px;
  margin-left: -399px;
  z-index: 2;
}
header .parallax-layer {
  margin-top: -100px;
  margin-left: 10px;
}
header .animated:nth-child(1) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
header .animated:nth-child(2) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
header .animated:nth-child(3) {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}

/*==================================
=            Recarregue            =
==================================*/
section#recarregue {
  background: url(../images/bg-recarregue.jpg) no-repeat top center;
  height: 326px;
}
section#recarregue div.text {
  margin-left: -371px;
  top: 73px;
}
section#recarregue .hotspots .item1 {
  top: 202px;
  margin-left: 240px;
}
section#recarregue .hotspots-content .item1 {
  top: -24px;
  margin-left: 28px;
}
section#recarregue .animated:nth-child(1) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

/*==================================
=            comparacao            =
==================================*/
section#comparacao {
  background: url(../images/bg-comparacao.jpg) no-repeat top center;
  height: 532px;
}
section#comparacao div.text {
  margin-left: -365px;
  top: 7px;
}
section#comparacao img.cartuchos {
  top: 26px;
  margin-left: -61px;
}
section#comparacao img.garrafa {
  top: 26px;
  margin-left: 213px;
}
section#comparacao .text2 {
  margin-left: 100px;
  top: 336px;
  text-align: center;
}
section#comparacao .text2 span {
  font: normal 24px "Roboto Condensed", sans-serif;
  color: #FFF;
}
section#comparacao .text2 span strong {
  color: #f9ef1a;
  font-size: 105px;
  font-weight: bold;
  line-height: 80px;
}
section#comparacao .text2 span sup {
  font-size: 15px;
}
section#comparacao .hotspots .item1 {
  top: 293px;
  margin-left: -311px;
}
section#comparacao .hotspots-content .item1 {
  top: 22px;
  margin-left: -362px;
}
section#comparacao .animated:nth-child(0) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
section#comparacao .animated:nth-child(1) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
section#comparacao .animated:nth-child(2) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
section#comparacao .animated:nth-child(3) {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}
section#comparacao .animated:nth-child(4) {
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
}

/*================================
=            Garantia            =
================================*/
section#garantia {
  background: url(../images/bg-garantia.jpg) no-repeat top center;
  height: 426px;
}
section#garantia div.text {
  top: 117px;
  margin-left: -336px;
}
section#garantia div.text h3 sup {
  font-size: 12px;
}
section#garantia div.text2 {
  top: 366px;
  margin-left: -336px;
}
section#garantia .hotspots .item1 {
  top: 278px;
  margin-left: -12px;
}
section#garantia .hotspots-content .item1 {
  top: 172px;
  margin-left: -22px;
}
section#garantia .animated:nth-child(0) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
section#garantia .animated:nth-child(1) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
section#garantia .animated:nth-child(2) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
section#garantia .animated:nth-child(3) {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}
section#garantia .animated:nth-child(4) {
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
}

/*==================================
=            beneficios       =
==================================*/
section#beneficios {
  background: url(../images/bg-beneficios.jpg) no-repeat top center;
  height: 460px;
}
section#beneficios div.text {
  margin-left: 93px;
  top: 0px;
}
section#beneficios .consumo,
section#beneficios .qualidade-impressao,
section#beneficios .garantia {
  margin-left: 176px;
}
section#beneficios .consumo h4,
section#beneficios .qualidade-impressao h4,
section#beneficios .garantia h4 {
  font-size: 18px;
  line-height: 1em;
  color: #FFF;
  font-weight: bold;
}
section#beneficios .consumo h4 sup,
section#beneficios .qualidade-impressao h4 sup,
section#beneficios .garantia h4 sup {
  font-size: 12px;
}
section#beneficios .consumo p,
section#beneficios .qualidade-impressao p,
section#beneficios .garantia p {
  font-size: 14px;
  color: #FFF;
}
section#beneficios .consumo.consumo,
section#beneficios .qualidade-impressao.consumo,
section#beneficios .garantia.consumo {
  top: 144px;
}
section#beneficios .consumo.qualidade-impressao,
section#beneficios .qualidade-impressao.qualidade-impressao,
section#beneficios .garantia.qualidade-impressao {
  top: 232px;
}
section#beneficios .consumo.garantia,
section#beneficios .qualidade-impressao.garantia,
section#beneficios .garantia.garantia {
  top: 342px;
}
section#beneficios .consumo.garantia h4,
section#beneficios .qualidade-impressao.garantia h4,
section#beneficios .garantia.garantia h4 {
  color: #333;
}
section#beneficios .animated:nth-child(0) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
section#beneficios .animated:nth-child(1) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
section#beneficios .animated:nth-child(2) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
section#beneficios .animated:nth-child(3) {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}
section#beneficios .animated:nth-child(4) {
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
}

/*==================================
=            tintas-originais       =
==================================*/
section#tintas-originais {
  background: url(../images/bg-tintas-originais.jpg) no-repeat top center;
  height: 444px;
}
section#tintas-originais .imprima {
  top: 113px;
  margin-left: -372px;
  text-align: center;
}
section#tintas-originais .imprima h4 {
  font: normal 24px "Roboto Condensed", sans-serif;
  color: #FFF;
}
section#tintas-originais .imprima h4 span {
  color: #f9ef1a;
  display: block;
  font-weight: bold;
}
section#tintas-originais .imprima h4 span.size1 {
  font-size: 80px;
  line-height: 64px;
}
section#tintas-originais .imprima h4 span.size2 {
  font-size: 25px;
}
section#tintas-originais .imprima h4 span.size2 sup {
  font-size: 12px;
}
section#tintas-originais .imprima p {
  color: #FFF;
  font: normal 12px/1.2em "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-top: 6px;
}
section#tintas-originais div.text {
  margin-left: 140px;
  top: 50px;
}
section#tintas-originais div.text h3, section#tintas-originais div.text p {
  color: #FFF;
}
section#tintas-originais div.text p {
  opacity: 0.6;
}
section#tintas-originais .animated:nth-child(0) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
section#tintas-originais .animated:nth-child(1) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
section#tintas-originais .animated:nth-child(2) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
section#tintas-originais .animated:nth-child(3) {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}
section#tintas-originais .animated:nth-child(4) {
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
}

/*=============================
=            Vídeo            =
=============================*/
section#video {
  background: url(../images/bg-video.jpg) no-repeat center top;
  height: 501px;
  text-align: center;
  padding-top: 35px;
}
section#video h3 {
  font: bold 18px "Roboto Condensed", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  margin-left: -70px;
  top: -40px;
}
section#video .player {
  display: table;
  width: 640px;
  margin: 0 auto;
}
section#video .animated:nth-child(0) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
section#video .animated:nth-child(1) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
section#video .animated:nth-child(2) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
section#video .animated:nth-child(3) {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}
section#video .animated:nth-child(4) {
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
}

/*===========================================
=            embalagem-especificacoes       =
===========================================*/
section#embalagem-especificacoes {
  background: url(../images/bg-conteudo-embalagem.jpg) no-repeat top center;
  height: 475px;
}
section#embalagem-especificacoes .embalagem {
  margin-left: -380px;
  top: 13px;
  width: 310px;
}
section#embalagem-especificacoes .embalagem table tr td {
  border: solid 1px #FFF;
  border-bottom: none;
  height: 30px;
  padding: 0 5px;
  font: normal 14px Arial, sans-serif;
  color: #333;
}
section#embalagem-especificacoes .embalagem table tr td img {
  display: inline;
}
section#embalagem-especificacoes .embalagem table tr td:first-child {
  border-right: none;
  text-align: center;
  width: 34px;
}
section#embalagem-especificacoes .embalagem table tr:last-child td {
  border-bottom: solid 1px #FFF;
}
section#embalagem-especificacoes h3.especificacoes-title {
  top: 13px;
  margin-left: -20px;
}
section#embalagem-especificacoes .especificacoes {
  background: rgba(255, 255, 36, 0.5);
  padding: 10px 15px;
  width: 150px;
  margin-left: 210px;
  top: 0;
}
section#embalagem-especificacoes .especificacoes li {
  list-style-type: disc;
  color: #272727;
  list-style-position: inside;
  font: normal 14px/1.7em Arial, sans-serif;
}
section#embalagem-especificacoes .animated:nth-child(0) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
section#embalagem-especificacoes .animated:nth-child(1) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
section#embalagem-especificacoes .animated:nth-child(2) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
section#embalagem-especificacoes .animated:nth-child(3) {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}
section#embalagem-especificacoes .animated:nth-child(4) {
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
}

/*===========================
=            OBS            =
===========================*/
section#obs {
  padding: 25px 0;
  background: #FFF;
}
section#obs ol li {
  margin-bottom: 16px;
  font: normal 12px/1.3em Arial, sans-serif;
  color: #666;
}

/*CD*/
.cd-img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.cd-single-point {
  position: absolute;
  border-radius: 50%;
}

.cd-single-point > a {
  position: relative;
  z-index: 99;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: inherit;
  background: #fbd791;
  background: -moz-linear-gradient(-45deg, #fbd791 0%, #f7b432 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fbd791), color-stop(100%, #f7b432));
  background: -webkit-linear-gradient(-45deg, #fbd791 0%, #f7b432 100%);
  background: -o-linear-gradient(-45deg, #fbd791 0%, #f7b432 100%);
  background: -ms-linear-gradient(-45deg, #fbd791 0%, #f7b432 100%);
  background: linear-gradient(135deg, #fbd791 0%, #f7b432 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd791', endColorstr='#f7b432',GradientType=1 );
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  transition: all .300s;
  -webkit-transition: all .300s;
  -ms-transition: all .300s;
  -moz-transition: all .300s;
  -o-transition: all .300s;
}

.cd-single-point > a:hover {
  background-position: 0 -30px;
}

.cd-single-point > a:hover a::after, .cd-single-point > a:before {
  color: #000;
}

.cd-single-point > a::after, .cd-single-point > a:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #1d4783;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.cd-single-point > a::after {
  height: 2px;
  width: 12px;
}

.cd-single-point > a::before {
  height: 12px;
  width: 2px;
}

.cd-single-point::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: transparent;
  -webkit-animation: cd-pulse 500ms infinite;
  -moz-animation: cd-pulse 500ms infinite;
  animation: cd-pulse 500ms infinite;
}

.cd-single-point.spot-aberto > a::after, .cd-single-point.spot-aberto > a::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(540deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(540deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(540deg);
  transform: translateX(-50%) translateY(-50%) rotate(540deg);
}

.cd-single-point.spot-aberto::after {
  display: none;
}

.cd-single-point.aberto::after {
  display: none;
}

.spot-aberto .cd-single-point::after {
  display: none;
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  -webkit-overflow-scrolling: touch;
  ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }
  50% {
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }
  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }
  50% {
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }
  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }
  50% {
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }
  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
  }
}
.cd-single-point .cd-more-info {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}

.cd-single-point .cd-more-info {
  position: absolute;
  width: 220px;
  height: 240px;
  overflow-y: visible;
}

.cd-single-point .cd-more-info.cd-left, .cd-single-point .cd-more-info.cd-right {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cd-single-point .cd-more-info.cd-left::before, .cd-single-point .cd-more-info.cd-right::before {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cd-single-point .cd-more-info.cd-left {
  right: 160%;
  left: auto;
}

.cd-close-info {
  display: none;
}

/*# sourceMappingURL=style.css.map */
