@media screen and (max-width: 1018px) {
    div.content-960
    { 
        width: 800px;
    }
    #work-items li
    {
        width: 202px
    }
    div.list_carousel.responsive
    {
        width: 89%;
    }
    ul.counter-widget li 
    {
        width:	161px;
        margin: 25px;
    }
    li.border-right
    {
        border-right: none;
    }
    #contact-form li:last-child
    {
        margin-top: 50px;
    }
    li.message-holder
    {
        margin-right: 0;
    }
    .modal
    {
        width: 630px;
    }
    img.portfolio-plus
    {
        left: 60px;
        top: 75px;
    }
    div.tweets-image img
    {
        max-width: 100%;
    }
    div.menu-border
    {
        max-width: 780px;
    }
       
    #news-items li p.title
    {
        min-height: 121px;
    }
}
@media screen and (max-width: 840px) {
    div.content-960
    { 
        width: 400px;
    }
    .one_third, .one_fourth, .one_half, .two_third, .three_fourth{
        width: 100%;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }
    #news-items li
    {
        float: none;
        margin: 0 auto 40px !important;
        padding-bottom: 70px;
    }  
    #work-items li
    {
        width: 256px;
        float: none;
        margin: 0 auto 40px !important;
    }
    div.list_carousel.responsive
    {
        width: 79%;
    }
    #contact-form li 
    {
        display: block;
        margin: 25px 0;
        margin-right: 0;
    }
    .modal
    {
        width: 75%;
    }
    article .article-content h1
    {
        font-size: 20px;
    }
    div.tweets-image, div.tweets
    {
        display: none;
    }
    img.portfolio-plus
    {
        left: 88px;
        top: 100px;
    }
    .contact-form #contact-form li
    {
        display: block;
    }
    .comment-author, .comment-date
    {
        float: none;
        margin-bottom: 5px;
    }
    .comment-reply
    {
        float:none;
    }
     
    .alignleft, .alignnone, .alignright 
    {
        float: none !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .title-description
    {
        display: block !important;
    }
}
@media screen and (max-width: 750px) {
    ul.slides
    {
        font-size: 50px;
    }
    p.info
    {
        width: 100%;
    }
    a.popup-close
    {
        display: none;
    }
    .comments-holder .vcard
    {
        float:none;
        text-align: center;
    }
    .comments-holder .vcard img.avatar
    {
        margin-right: 0;
    }	
    .comments-holder span.separator
    {
        display: none;
    }
    .comments-holder .comment-date, .comments-holder .comment-reply, .comments-holder .comment-author, .comments-holder .comment-separator
    {
        text-align: center;
    }   
    .contact-form textarea{
        max-width: 90% !important;
    }
}

@media screen and (max-width: 640px) {
	.comment-form-author{
		margin-right: 0 !important;
		float: none !important;	
	}
	.comment-form-author input#author, .comment-form-email input#email {
		width: 100%;
		max-width: 360px;
	}
}

@media screen and (max-width: 423px) {
    div.content-960
    { 
        width: 85%;
    }
    div.list_carousel.responsive
    {
        width: 72%;
    }
    #work-items li{
        width: 220px;
    }
    img.portfolio-plus {
        left: 75px;
        top: 75px;
    }
	article .article-content{
		text-align: left;
	}
}
