.posts-navigation
{
    font-size: 12px;
    font-family: arial;
    padding: 5px 50px;
}
.posts-navigation a
{
    text-decoration: none;
    background-repeat: no-repeat;
    display: block;
    height: 19px;
    padding-top: 23px;
}
.posts-navigation .left a
{	
    padding-left: 55px;
    background-position: left top;
    background-image: url("../images/navigation_icon_left.png");
}
.posts-navigation .left a:hover
{
    background-position: left bottom;
}
.posts-navigation .right a
{
    padding-right: 55px;
    background-position: right top;
    background-image: url("../images/navigation_icon_right.png");	
}
.posts-navigation .right a:hover
{
    background-position: right bottom;
}
.single-h1-title
{
    padding: 0px !important;
}
article img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}
.single-top-thumb, .full-width{
    position: relative;
}
.single-top-thumb .carousel_pagination{
    position: absolute;
    bottom: 50px;
}
.full-width .carousel_pagination{
    position: absolute;
    bottom: -30px;
}
.article-content .carousel_pagination
{
    margin: 20px 0; 
}