@charset "utf-8";

body{
    background: #dfd7c1 url(../images/onde-encontrar/bg.png) no-repeat center 240px;
}
#content{
    padding: 172px 0 130px 0;
}

/*Titles*/
.titles{
    margin-bottom: 36px;
}
.titles h1{
    color: #f04b4b;
    font-size: 60px;
    float: left;
}
.titles img{
    float: right;
    margin-right: 16px;
    
}

/*Submenu*/
.submenu{
    text-align: center;
    padding: 0 30px;
    margin-bottom: 58px
}
.submenu a{
    display: inline-block;
    color: #008eb3;
    font-weight: bold;
    font-size: 20px;
    background: #FFF;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 0 5px 8px 0;
}
.submenu a span{
    display: inline-block;
    color: #7d7d7d;
    font-size: 14px;
    font-weight: normal;
}
.submenu a.active{
    color: #FFF;
    background: #f04b4b;
    text-decoration: underline;
}
.submenu a.active span{
    color: #FFF;
}

/*Item*/
.item{
    border-radius: 7px;
    width: 30%;
    margin:0 1.5% 50px 1.5%;
}
.item a{
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.item a:hover{
    text-decoration: none;
    opacity: 0.7;
}
.item.big{
    border-radius: 7px;
    width: 63%;
    margin-bottom: 50px;
}
.item img{
    border-radius: 7px 7px 0 0;
    width: auto;
    height: auto;
    max-width: 100%;
}
.item .description{
    background: #FFF;
    padding: 17px 17px;
    border-radius: 0 0 7px 7px;
}
.item.big .description{
    background: #FFF;
    padding: 25px 17px;
    border-radius: 0 0 7px 7px;
}
.item.big .description h2{
    font-size: 36px;
    margin-bottom: 35px;
}
.item .description h2{
    color: #f04b4b;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.item .description h3{
    color: #828282;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}
.item .description p{
    color: #828282;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
}


/******** Internas - Lightbox **********/
#lightbox{
    position: fixed;
    overflow: scroll;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #dfd7c1;
    z-index: 10;
    display: none;
}
#lightbox a.fechar-lightbox{
    position: absolute;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    right: 5%;
    top: 22px
}
#lightbox a.fechar-lightbox i{
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=-0.7071067811865476, M12=0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
}
#lightbox .the-image{
    width: 70%;
    text-align: center;
    float: left;
    position: relative;
}
#lightbox img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline;
}
#lightbox .text{
    width: 25%;
    max-width: 390px;
    float: left;
    height: 100%;
    margin-top: 3%;
    padding: 0 2.5%;
    text-align: right;
    overflow: scroll;
}
#lightbox .text h2{
    font-size: 38px;
    color: #f49443;
    margin-bottom: 20px
}
#lightbox .text h3{
    font-size: 22px;
    color: #f49443;
    margin-bottom: 20px
}
#lightbox .text p{
    font-size: 15px;
    color: #3a3a3a;
    margin-bottom: 30px;
    line-height: 1.6em;
}
#lightbox .text a{
    font-size: 24px;
    color: #1fbaa5;
    font-weight: bold;
    padding: 15px;
    border: solid 4px #1fbaa5;
    border-radius: 5px;
    display: table;
    float: right;
}
#lightbox .text a i{
    margin-left: 10px;
}

/*Lightbox Links*/
#lightbox .links{
    position: relative;
    z-index: 2;
    margin-top: 50px;
    display: table;
    float: right;
}
#lightbox .links a{
    color: #FFF;
    background: #f04c4b;
    padding: 15px;
    font-weight: bold;
    display: inline-block;
    border: none;
    margin: 0 1px 3px 0;
    font-size: 15px;
}
#lightbox .links a.next{
    border-radius: 0;
}
#lightbox .links a.prev{
    border-radius: 50px 0 0 0;
}

/*Lightbox Menu*/
#menu-lightbox{
    position: relative;
    background: #f04b4b;
    left: 0;
    width: 95%;
    height: 62px;
    border-radius: 0 0 100px 0;
    z-index: 3;
}
#menu-lightbox .content-center{
    position: relative;
    height: 62px;
}
#menu-lightbox #home-link{
    background: url(../images/zum-logo.png);
    width: 307px;
    padding-top: 48px;
    left: 5%;
    top: 8px;
    -webkit-transform:scale(0.5);
	-moz-transform:scale(0.5);
	-o-transform:scale(0.5);
	transform:scale(0.5);
}