.dry-full-width
{
    width: 100%;
}

.dry-left
{
    float: left !important;
}

.dry-move-left-5
{
    margin-right: 5px !important;
}

.dry-move-left-10
{
    margin-right: 10px !important;
}

.dry-move-left-20
{
    margin-right: 20px !important;
}

.dry-move-left-30
{
    margin-right: 30px !important;
}