/*Fonts*/
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.eot');
    src: url('../fonts/Gotham-Thin.eot') format('embedded-opentype'),
         url('../fonts/Gotham-Thin.woff') format('woff'),
         url('../fonts/Gotham-Thin.ttf') format('truetype'),
         url('../fonts/Gotham-Thin.svg#Gotham') format('svg');
         font-style: normal;
         font-weight: lighter;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot') format('embedded-opentype'),
         url('../fonts/Gotham-Light.woff') format('woff'),
         url('../fonts/Gotham-Light.ttf') format('truetype'),
         url('../fonts/Gotham-Light.svg#Gotham') format('svg');
         font-style: normal;
         font-weight: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot') format('embedded-opentype'),
         url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.ttf') format('truetype'),
         url('../fonts/Gotham-Book.svg#Gotham') format('svg');
         font-style: normal;
         font-weight: bold;
}

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    list-style: none;
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    line-height: 1em;
    text-transform: uppercase;
}
img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}
.link-padding{
    position: relative;
    overflow: hidden;
    height: 0;
}
.animate{
-webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
/*End of Reset Css*/

/*Header*/
header{
	padding: 33px 0;
	background: white;
}
header a{
	color: black;
	font: lighter 17px 'Gotham', Arial, sans-serif;
}
header .header-link-bar li{
	margin: 0 30px;
}
header .navbar-right a:hover img{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
}
header .navbar-right>li>a:hover{
	background: transparent;
}

/*Section's padding*/
.section-padding{
	padding: 90px 0;
}

/*Footer*/
footer{
	padding: 90px 0 0 0;
	background: #ebebeb;
}
footer .footer-social li{
	display: inline-block;
	margin: 0 22px 40px 0;
}
footer .footer-social li:last-child{
	margin-right: 0;
}
footer .footer-social li:hover img {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
}


footer .copyright{
	background: black;
	padding: 15px 0;
	text-align: center;
	margin-top: 55px;
}
footer .copyright small{
	color: white;
	font: bold 14px 'Gotham', Arial, sans-serif;
	text-transform: none;
}

footer .footerlinks li{
	display: inline-block;
	margin: 0 50px 40px 0;
}
footer .footerlinks ul li:last-child{
	margin-right: 0;
}
footer .footerlinks li a{
	color: black;
	text-transform: none;
	font-size: 18px;
}
footer .contact-info *{
	color: black;
	font: normal 14px 'Gotham', Arial, sans-serif;
}
footer .contact-info li{
	min-height: 25px;
	background: url(../images/contact-footer.png) no-repeat;
	margin-bottom: 29px;
	padding: 5px 0 0 40px;
}
footer .contact-info li.address{
	background-position: 0 -51px;
}
footer .contact-info li.mail{
	background-position: 0 -104px;
}

/*Float Bar*/
#float-bar{
	position: fixed;
	left: 0;
	top: 30%;
	background: rgba(0, 0, 0, 0.7);
	padding: 19px 13px;
}
#float-bar li{
	display: block;
}
#float-bar li a{
	display: block;
	width: 26px;
	height: 40px;
	background: url(../images/float-bar-icons.png) no-repeat;
}
#float-bar li a:hover{
	opacity: 0.7;
}
#float-bar li.float-bar-item1 a{
	background-position: 0 10px;
}
#float-bar li.float-bar-item2 a{
	background-position: 0 -43px;
}
#float-bar li.float-bar-item3 a{
	background-position: 0 -93px;
}

/*Contact*/
#contact{
	position: fixed;
	overflow: scroll;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	padding: 30px 0;
	-webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
	transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
}
#contact.active{
	-webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
	transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
#contact .container{
	max-width: 750px;
}

/*Info Contact*/
#contact .container .info-contact{
	box-shadow: 0 0 0 1px white;
	margin-top: 100px;
}
#contact .container .info-contact .box-padding{
	padding: 50px 25px;
}
#contact .container .info-contact ul{
	margin-bottom: 30px;
}
#contact .container .info-contact ul.contact-info-list li{
	margin-bottom: 20px;
}
#contact .container .info-contact ul.contact-info-list li, #contact .container .info-contact ul.contact-info-list li *{
	color: white;
	font: normal 13.5px 'Gotham', Arial, sans-serif;
}
#contact .container .info-contact .contact-social ul{
	width: 100%;
	margin-bottom: 0;
}
#contact .container .info-contact .contact-social li{
	display: inline-block;
	width: 31%;
	text-align: center;
}
#contact .container .info-contact .contact-social li:hover img{
	-webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
#contact .container .info-contact .contact-social li img{
	display: inline;
}

/*The Contact*/
#contact .the-contact{
	background: url(../images/contact/contact-bg.png) no-repeat top center;
	min-height: 739px;
	background-size: 100% auto;
	padding: 0 !important;
}
#contact .the-contact .box-padding{
	padding: 20px 23px 25px 29px;
}
#contact .the-contact .close-contact{
	display: table;
	margin: 0 auto 15px auto;
}
#contact .the-contact h2{
	color: #b9a881;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 0 !important;
	text-align: center;
	border: none;
}
#contact .the-contact form select{
	width: 100%;
	text-align: center;
}
#contact .the-contact form .chosen-single span{
	text-align: center;
}
#contact .the-contact form .chosen-container{
	background: #181818;
}
#contact .the-contact form .contact-border{
	border: solid 1px white;
	padding: 15px 20px 0px 20px;
}
#contact .the-contact form input{
	width: 96%;
	padding: 0 2%;
	color: white;
	background: #181818;
	margin-bottom: 5px;
	height: 36px;
	text-align: center;
}
#contact .the-contact form textarea{
	width: 96%;
	padding: 10px 2%;
	color: white;
	background: #181818;
	margin-bottom: 5px;
	height: 59px;
	text-align: center;
	resize: none;
}
#contact ::-webkit-input-placeholder {
   color: white;
}
#contact :-moz-placeholder {
   color: white;  
}
#contact ::-moz-placeholder {
   color: white;  
}
#contact :-ms-input-placeholder {  
   color: white;  
}
#contact [type="checkbox"]{
	display: none !important;
}
#contact .the-contact label{
	color: #e2e2e2;
	font: bold 8px 'Gotham', Arial, sans-serif;
	text-align: center;
	margin: 0 -15px;
	display: block;
	width: 115%;
	max-width: 1000px;
}
#contact [type="checkbox"] + label {
padding: 5px 21px 0 0;
background: url(../images/checkbox.png) no-repeat right center;
height: 30px;
cursor: pointer;
}
#contact [type="checkbox"]:checked + label{
	background: url(../images/checkbox-ok.png) no-repeat right center !important;
}
/*Button*/
#contact button{
	padding: 25px 7px;
	border-radius: 100%;
	border: solid 2px white;
	color: white;
	font-size: 20px;
	background: transparent;
	display: table;
	margin: 10px auto 0 auto;
	cursor: pointer;
}
#contact button:hover{
	background: white;
	color: #1c1c1c;
}

/*Subscribe*/
#subscribe{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	padding: 30px 0;
	-webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
	transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
}
#subscribe.active{
	-webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
	transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
#subscribe .container{
	max-width: 320px;
}
#subscribe .subscribe-box{
	border: solid 1px white;
}
#subscribe .box-padding{
	padding: 20px 23px 25px 29px;
}
#subscribe .close-contact{
	display: table;
	margin: 0 0 15px auto;
}
#subscribe h2{
	color: #b9a881;
	font-size: 16px !important;
	margin-bottom: 10px !important;
	padding: 0 !important;
	text-align: center;
	border: none;
}
#subscribe form input{
	width: 96%;
	padding: 0 2%;
	color: white;
	background: #181818;
	margin-bottom: 5px;
	height: 40px;
	text-align: center;
}
/*Button*/
#subscribe button{
	border-radius: 100%;
	border: solid 2px white;
	color: white;
	font-size: 20px;
	background: transparent;
	display: table;
	margin: 10px 5px 0 11px;
	cursor: pointer;
	display: inline-block;
}
#subscribe button#login{
	padding: 37px 14px;
}
#subscribe button#sign-up{
	padding: 37px 7px;
}
#subscribe button:hover{
	background: white;
	color: #1c1c1c;
}

/*=============Responsible===============*/
@media screen and (max-width: 1199px){
	header .header-link-bar li{
		margin: 0 15px;
	}
}
@media screen and (max-width: 991px){
	header .header-link-bar li{
		margin: 0;
	}
	.navbar-nav>li>a{
		font-size: 15px;
	}
	.navbar-brand{
		width: 150px;
	}
	.navbar-right img{
		width: 50px;
	}
	#contact .container .info-contact{
		margin: 20px auto 40px;
		top: 20px;
		width: 320px;
	}
	#contact .the-contact{
		float: none !important; 
		width: 290px;
		margin: 0 auto 10px auto;
	}
	#contact .the-contact h2{
		margin-bottom: 20px !important;
	}

}
@media screen and (max-width: 767px){
	.section-padding{
		padding: 40px 0;
	}
	#float-bar{
		display: none;
	}
	header{
		padding: 15px 0;
	}
	header .navbar-header{
		margin-bottom: 10px;
	}
	header .navbar-brand{
		width: 100px;
		height: auto;
	}
	header button.navbar-toggle{
		background: #c9bb9a;
	}
	header button.navbar-toggle .icon-bar{
		background: white;
	}
	header .navbar-collapse.in li, header .navbar-collapse.collapsing li{
		height: auto;
		border-bottom: solid 1px #c9bb9a;
	}
	header .navbar-collapse.in .navbar-right, header .navbar-collapse.collapsing .navbar-right{
		display: table;
		margin: 0 auto;
	}
	header .navbar-collapse.in .navbar-right li, header .navbar-collapse.collapsing .navbar-right li{
		border: none;
		display: inline-block;
	}
	footer{
		padding-top: 40px;
	}
	footer .footer-social{
		float: none !important;
		display: table;
		margin: 0 auto 20px auto;
	}
	footer .footer-social li{
		margin-bottom: 0;
	}
	footer .footerlinks li{
		margin: 0 10px 20px 0;
	}
	footer .footerlinks li a{
		font-size: 14px;
	}
	footer .contact-info li{
		margin-bottom: 20px;
	}
	footer .contact-info li.address{
		background-position: 0 -45px;
	}
	footer .copyright{
		margin-top: 20px;
	}
	
}