body{
	background: url(../images/travel/bg-travel-boxes.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

/*Concierge*/
#main-content{
	background: #ebebeb;
}
#main-content h1, #themes-slider h2{
	font: normal 60px 'Gotham', Arial, sans-serif;
	padding: 0 15px 30px 15px;
	margin: 0 auto 55px auto;
	border-bottom: solid 2px black;
	display: table;
}
p{
	font: lighter 30px/1.6em 'Gotham', Arial, sans-serif;
	color: black;
	text-align: justify;
	margin-bottom: 70px;
}
section p:last-child{
	margin-bottom: 0;
}
p strong{
	font-weight: normal;
}

/*Travel Blocks*/
#travel-blocks li, .choose-blocks li{
	margin-bottom: 30px;
}
#travel-blocks li .relative, .choose-blocks li .relative{
	 background: rgba(0, 0, 0, 0.3); 
	-webkit-box-shadow: 0 0 0 5px white; 
	box-shadow: 0 0 0 2px white; 
	border-radius: 2px;
	padding: 50% 0;
}
#travel-blocks li .relative .blocks-text, .choose-blocks li .relative .blocks-text{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0 -15px;
}
#travel-blocks li .relative .blocks-text .text-relative, .choose-blocks li .relative .blocks-text .text-relative{
	height: 100%;
	display: table;
	width: 100%;
}
#travel-blocks li .relative span, .choose-blocks li .relative span{
	color: white;
	font: lighter 24px 'Gotham', Arial, sans-serif;
	display: block;
	padding: 0px 15%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

/*=========Themes Slider========*/
/*Tell Us*/
.tell-us .choose-blocks li .relative{
	background: transparent;
	box-shadow: 0 0 0 2px #1c1c1c !important;
}
#themes-slider .tell-us li .relative span{
	color: #1c1c1c;
	font-size: 27px;
}

/*Themes*/
#themes-slider{
	background: #ebebeb;
}
#themes-slider li{
	margin-bottom: 30px;
}
#themes-slider li .relative{
	background-size: cover;
	-webkit-box-shadow: 0 0 0 5px white; 
	box-shadow: 0 0 0 2px white; 
	border-radius: 2px;
}
#themes-slider li .relative .blocks-text{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0 -15px;
	left: 15px;
}
#themes-slider li .relative .blocks-text .text-relative{
	height: 100%;
	display: table;
	width: 100%;
}
#themes-slider li .relative span{
	color: white;
	font: bold 24px 'Gotham', Arial, sans-serif;
	display: block;
	padding: 0px 15%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

/*Destinations*/
.destinations li.unknown .relative{
	background: transparent;
	box-shadow: 0 0 0 2px #1c1c1c !important;
	padding: 50% 0;
}
#themes-slider .destinations li.unknown .relative span{
	color: #1c1c1c;
	font-size: 30px;
}

/*Describe*/
.describe form{
	width: 100%;
	max-width: 750px;
	display: table;
	margin: 0 auto;
}
.describe form input, .describe form select, .describe form option, .describe form textarea{
	width: 100%;
	margin: 0 0 20px 0;
	height: 83px;
	background: #c4c4c4;
	color: #1c1c1c;
	font-size: 24px;
	line-height: 2em;
	text-align: center;
	cursor: pointer;
	display: block;
	font-weight: bold;
}
::-webkit-input-placeholder {
   color: #1c1c1c;
}
:-moz-placeholder {
   color: #1c1c1c;  
}
::-moz-placeholder {
   color: #1c1c1c;  
}
:-ms-input-placeholder {  
   color: #1c1c1c;  
}
.describe form .select{
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
}
.describe form .form-bg{
	background: #c4c4c4 url(../images/travel/select-bg.png) no-repeat right center;
}
.describe form select{
	text-indent: 36%;
	text-transform: uppercase;
	width: 120%;
	background: transparent;
	margin-bottom: 0;
}
.describe form textarea{
	height: 168px;
	padding: 15px 0;
	resize: none;
}
.describe form textarea{
	cursor: inherit;
}

/*Budget Avaliable*/
.budget li .relative{
	background: transparent;
	box-shadow: 0 0 0 2px #1c1c1c !important;
	padding: 50% 0 !important;
}
.budget li .relative:hover{
	background: #bcbcbc;
}
.budget li .relative span{
	color: #1c1c1c !important;
	font-size: 30px !important;
}

/*Disclaimer*/
.disclaimer .text{
	margin-bottom: 40px;
}
.disclaimer .text p{
	font: bold 14px/1.3em 'Gotham', Arial, sans-serif;
	margin-bottom: 20px;
}
.disclaimer fieldset{
	text-align: center;
}
.disclaimer fieldset label{
	font-size: 12px;
	margin-right: 10px;
	cursor: pointer;
}

/*Contact*/
.contact form{
	width: 100%;
	max-width: 750px;
	display: table;
	margin: 0 auto;
}
.contact form input, .contact form select, .contact form option, .contact form textarea{
	width: 100%;
	margin: 0 0 20px 0;
	height: 83px;
	background: #c4c4c4;
	color: #1c1c1c;
	font-size: 24px;
	line-height: 2em;
	text-align: center;
	cursor: pointer;
	display: block;
	font-weight: bold;
}
.contact form .select{
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
}
.contact form .form-bg{
	background: #c4c4c4 url(../images/travel/select-bg.png) no-repeat right center;
}
.contact form select{
	text-indent: 36%;
	text-transform: uppercase;
	width: 120%;
	background: transparent;
	margin-bottom: 0;
}
.contact form textarea{
	height: 168px;
	padding: 15px 0;
	resize: none;
}
.contact form textarea{
	cursor: inherit;
}
[type="checkbox"]{
	display: none !important;
}
[type="checkbox"] + label {
padding: 5px 40px 0 0;
background: url(../images/travel/checkbox.png) no-repeat right center;
height: 30px;
cursor: pointer;
}
[type="checkbox"]:checked + label{
	background: url(../images/travel/checkbox-ok.png) no-repeat right center !important;
}
.contact .the-news{
	text-align: center;
	margin: 35px 0;
}
.contact .the-news label{
	font-size: 20px;
}
.contact button{
	padding: 60px 32px;
	border-radius: 100%;
	border: solid 2px #1c1c1c;
	color: #1c1c1c;
	font-size: 27px;
	background: transparent;
	display: table;
	margin: 0 auto;
	cursor: pointer;
}
.contact button:hover{
	background: #1c1c1c;
	color: white;
}

/*Spacer*/
.spacer{
	height: 50px;
	background: #fff;
}

/*Animate all li's*/
#themes-slider li{
	-webkit-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

}
#themes-slider li:hover{
	-webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
#themes-slider li .active, #themes-slider li.unknown .active{
	/*border: solid 5px #b9a881 !important;
	box-shadow: none;
	position: relative !important;
	margin: -5px;*/
	opacity: 0.3;
}

/*Slider Controls*/
.bx-controls{
	position: relative;
}
.bx-controls-direction{
	display: table;
	margin: 0 auto;
	position: relative;
	width: 310px;
	top: -47px;
}
.bx-controls-direction a{
	width: 22px;
	height: 26px;
	text-indent: -9999px;
	display: block;
	position: absolute;
	top: 3px;
}
.bx-controls-direction a.bx-prev{
	background: url(../images/travel/prev.png) no-repeat;
	left: 0;
}
.bx-controls-direction a.bx-next{
	background: url(../images/travel/next.png) no-repeat;
	right: 0;
}
.bx-pager{
	display: table;
	margin: 20px auto;
}
.bx-pager .bx-pager-item a{
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	background: #c4c4c4;
	display: block;
	border-radius: 100%;
}
.bx-pager .bx-pager-item{
	display: inline-block;
	margin: 0 4px;
}
.bx-pager .bx-pager-item a.active{
	background: #4e4e4e;
}


/*=============Responsible============*/
@media screen and (max-width: 991px){
	#main-content h1, #themes-slider h2{
		font-size: 32px !important;
		padding-bottom: 15px !important;
		margin-bottom: 50px !important;
	}
	p{
		font-size: 19px !important;
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 767px){
	#concierge-blocks li{
		width: auto;
		float: none;
	}
	#travel-blocks li .relative span{
		font-size: 20px;
	}
	#membership li .relative span{
		font-size: 35px;
	}
	form{
		padding: 0 10px !important;
	}
	form select{
		text-indent: 28% !important;
	}
	.contact form input, .contact form select, .contact form option, .contact form textarea{
		height: 50px;
	}
	#themes-slider li{
		text-align: center;
	}
	#themes-slider li img{
		display: inline;
	}
}




/*========Ajustes 11/12 ========*/
@media screen and (max-width: 991px){
	#travel-blocks li, .choose-blocks li, .themes li, .destinations li, .budget li{
		width: 50% !important;
		float: left !important;
	}
}
@media screen and (max-width: 500px){
	#travel-blocks li, .choose-blocks li, .themes li, .destinations li, .budget li{
		width: auto !important;
		float: none !important;
	}
}