@charset "UTF-8";
/*Reset Css*/

* {
    margin: 0;
    padding: 0;
    border: none;
    background-repeat: no-repeat;
    list-style: none;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1em;
    -webkit-font-smoothing:antialiased;
}
body, html {
    width: 100%;
    min-height: 100%;
    min-width: 800px;
    overflow-x: hidden;
}
img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}
a {
    display: block;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    width: 780px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}
.absolute {
    position: absolute;
    left: 50%;
}
.hotspots li {
    z-index: 10;
    opacity: 1 !important;
}
.hotspots-content img {
    z-index: 9;
    display: none;
}

p {
    font: 400 16px/1.3em Arial, sans-serif;
    margin-bottom: 30px;
}

h3 {
    font: 700 28px/1em 'Roboto Condensed', Arial, sans-serif;
    margin-bottom: 15px;
    color: #051e4c;

}
.animated{
    opacity: 0 !important;
}
/*End of Reset Css*/



/*Header*/
header{
    background: url(../images/bg-header.jpg) no-repeat center;
    height: 456px;
    position: relative;
    overflow: hidden;
}
header *{
    color: #FFF;
}
header figure#logo{
    top: 21px;
    margin-left: -380px;
}
header hgroup{
    top: 124px;
    margin-left: 160px;
}
header hgroup h1{
    font: 400 18px 'Roboto Condensed', sans-serif;
    text-align: right;
}
header hgroup{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
header hgroup h2{
    font: 700 34px/1.1em 'Roboto Condensed', sans-serif;
    color: #f7b129;
    margin-top: 17px;
}
header .parallax-area{
    width: 490px;
    height: 440px;
    top: -110px;
    margin-left: -245px;
    z-index: 2;
}
 
p.vendedor-txt {   
    font: 400 16px Arial, sans-serif;
    color: #FFF;
    text-align: left;
    margin-left: 160px;
    top: -30px;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

header .ecotank {
    margin-left: 160px;
    top: 300px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
header .ecotank figcaption {
    font: 500 18px/20px 'Roboto Condensed', sans-serif;
    padding-top: 15px;

}
header .parallax-layer{
    margin-top: -100px;
    margin-left: 10px;
}


/*Features*/
section#features{
    background: url(../images/bg-features.jpg) no-repeat center top #d6d6d6;
    height: 880px;
    z-index: 1;
    position: relative;
}

section#features .recarregue {
   top: 74px;
   margin-left: -110px;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
section#features .recarregue p{
   font: 400 16px Arial, sans-serif;
   color: #575756;
   padding-top: 6px;
    
}

section#features .recarregue h3{
   font: 700 24px 'Roboto Condensed', sans-serif;
   color: #1d4783;
   padding-top: 10px;
    
}

section#features .economica{
    top: 543px;
    margin-left: -352px;
}

section#features .economica figcaption{
   font: 700 24px 'Roboto Condensed', sans-serif;
   color: #1d4783;
    
}section#features .economica p{
   font: 400 16x 'Roboto Condensed', sans-serif;
   color: #575756;
   padding-top: 10px;
    
}

section#features .l455{
    top: 538px;
    margin-left: -53px;
    -webkit-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
}

section#features .l455 figcaption{
    font: 400 20px 'Roboto Condensed', sans-serif;
    color: #1d4783;
    margin-left: 25px;
}


section#features .l455 .garrafa-l455{
    padding-top: 45px;
    border-right: solid 1px #ababab;
}

section#features .multifuncional-convencional{
    top: 541px;
    margin-left: 169px;
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
}

section#features .multifuncional-convencional figcaption{
    font: 400 20px/18px 'Roboto Condensed', sans-serif;
    color: #666;
    margin-left: 32px;
}

section#features .multifuncional-convencional .cartuchos{
    padding-top: 20px;
}


section#features .hotspots .item1{
    top: 310px;
    margin-left: -125px;
}
section#features .hotspots-content .item1{
    top: 215px;
    margin-left: -117px;
}

/*versátil e completa*/
section#versatil-e-completa{
    background: url(../images/bg-versatil-e-completa.jpg) no-repeat center #c5cbcf;
    height: 658px;
    position: relative;
}

section#versatil-e-completa .txt  {
top: 101px;
margin-left: 79px;
    
}

section#versatil-e-completa strong{
    background: #1d4783;
font: 700 30px 'Roboto Condensed', sans-serif;
color: #f7b129;    

    top: 494px;
margin-left: -388px;
padding: 15px;
    
}
section#versatil-e-completa .txt  p{
   font: 400 18px Arial, sans-serif;
   color: #333;
   padding-top: 6px;
    
}

section#versatil-e-completa .txt h3{
   font: 700 32px 'Roboto Condensed', sans-serif;
   color: #ca4f24;
   padding-top: 10px;
    
}


/*Tintas | WiFi*/
section#tintas{
    background: url(../images/bg-tintas-wifi.jpg) no-repeat center;
    height: 836px;
}
section#tintas .txt{
    top: 16px;
    margin-left: 23px;
}

section#tintas strong{
    font: 700 24px 'Roboto Condensed', sans-serif;
    color: #f7b129;
    top: 143px;
    margin-left: 23px;
}
section#tintas .txt h3{
    font-size: 30px;
    color: #1d4783;
}
section#tintas .txt p{
    font-size: 16px;
    color: #333;
}

section#tintas .impressoes-tinta div{
    display: inline-block;
    margin: 237px 5px 0px 20px;
   
}
section#tintas .impressoes-tinta .animacao2{
    -webkit-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
}
section#tintas .impressoes-tinta .animacao3{
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
}
section#tintas .impressoes-tinta figcaption{
    text-align: center;
    font: 400 14px 'Roboto Condensed' sans-serif;
    color: #333;
   
}

section#tintas .conexao-wifi{
    padding-top: 389px;
   
    margin-left: -370px;
}

section#tintas .conexao-wifi h3{
    font: 700 24px 'Roboto Condensed', sans-serif;
    color: #1d4783;
   
}
section#tintas .conexao-wifi p{
    font: 400 16px Arial, sans-serif;
    color: #333;
   
}

section#tintas .conexao-wifi .wifi{
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
}
section#tintas .conexao-wifi .wifi p{
    font: 400 14px Arial, sans-serif;
    color: #333;
}
section#tintas .conexao-wifi .wifi h4{
    font: 700 18px 'Roboto Condensed', sans-serif;
    color: #333;
   
}
section#tintas .conexao-wifi .wifi .txt{
    font: 700 18px 'Roboto Condensed', sans-serif;
    color: #333;
    float: right;
    margin: -74px -5px 0px 87px;
}

section#tintas .conexao-wifi .wifi-direct{
    -webkit-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important; 
}
section#tintas .conexao-wifi .wifi-direct p{
    font: 400 14px Arial, sans-serif;
    color: #333;  
}
section#tintas .conexao-wifi .wifi-direct, h4{
    font: 700 18px 'Roboto Condensed', sans-serif;
    color: #333;
   
}
section#tintas .conexao-wifi .wifi-direct .txt{
    font: 700 18px 'Roboto Condensed', sans-serif;
    color: #333;
    float: right;
    margin: -74px -5px 0px 87px;
}


section#tintas .hotspots .item1{
    top: 612px;
    margin-left: -51px;
}
section#tintas .hotspots-content .item1{
    top: 435px;
    margin-left: -114px;
}

/* Epson Connec*/
section#epson-connect{
    background: url(../images/bg-epson-connect.jpg) no-repeat center #d6d6d6;
    height: 490px
}


section#epson-connect .nuvem-epson-connect{
    top: -90px;
    margin-left: -362px;
}
section#epson-connect .nuvem-epson-connect img,
.hotspots li a{
    opacity: 1 !important;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}

section#epson-connect  figcaption{
  font: 700 18px 'Roboto Condensed', sans-serif;
  color: #1d4783;
  text-align: center;
  padding-top: 10px;

}
section#epson-connect .iprint{
    top: -83px;
    margin-left: -144px;

}



section#epson-connect .epson-connect-txt {
    top: -19px;
    margin-left: 163px;
}
section#epson-connect .animacao2{
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
}
section#epson-connect .email-print {
    top: 184px;
    margin-left: 100px;
    /*padding: 192px 0px 0px 502px;*/
}
section#epson-connect .email-print img,
section#epson-connect .cloud-print img{
    float: left;
    margin-right: 13px;
}
section#epson-connect .email-print {
    -webkit-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
}
section#epson-connect .email-print-txt {
    float: right;
}

section#epson-connect .cloud-print {
    top: 287px;
    margin-left: 118px;
    -webkit-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
}
section#epson-connect .cloud-print-txt {
    float: right;

}


section#epson-connect .epson-connect-txt p, 
section#epson-connect .cloud-print p, 
section#epson-connect .email-print p{
    font: 400 14px Arial, sans-serif;
    color: #333;

   
    margin-bottom: 20px;
}
section#epson-connect .epson-connect-txt  h4, .cloud-print  h4, .email-print  h4{
    font: 700 18px 'Roboto Condensed', sans-serif;
    color: #333;

   
}

section#video{
    background: url(../images/bg-pattern.png) repeat #d6d6d6;
    height: 458px;
    padding-top: 10px;
}
section#video .player{
    display: table;
    width: 640px;
    margin: 0 auto;
}
section#video strong{
    background: #1d4783;
    padding: 10px 15px;
    font: 700 16px 'Roboto Condensed', sans-serif;
    color: #f7b129;
    margin: 0 0 0 auto;
    display: table;
}
/*Embalagem | especificações*/
section#embalagem-especificacoes{
    background: url(../images/bg-embalagem-especificacoes.jpg) center;
    height: 485px;
}
section#embalagem-especificacoes *{
    color: white;
}
section#embalagem-especificacoes .embalagem, .especificacoes{
    top: 103px;
    margin-left: 78px;
    width: 305px;
}
section#embalagem-especificacoes .embalagem h3{
    font: 400 30px 'Roboto Condensed', sans-serif;
    margin-bottom: 12px;
    color: #f7b129;
    background-color: #1d4783;;
    padding: 10px;
    width: 215px;
}
section#embalagem-especificacoes .embalagem h3 span,
section#embalagem-especificacoes .especificacoes h3 span{
    color: inherit;
    font-weight: bold;
    display: block;
}
section#embalagem-especificacoes .embalagem ul{
    margin: 0 0 50px 15px;
}
section#embalagem-especificacoes .embalagem li,
section#embalagem-especificacoes .especificacoes li{
    font: 400 14px/1.3em Arial, sans-serif;
    list-style-type: disc;
    margin-bottom: 7px;
}

section#embalagem-especificacoes .especificacoes h3{
    font: 400 30px 'Roboto Condensed', sans-serif;
    background-color: #1d4783;
    color: #f7b129;
    padding: 10px;
    margin-left: -34px;
    display: table;
    float: left;
}
section#embalagem-especificacoes .especificacoes ul{
    top: -1px;
    left: 161px;
    padding: 15px;
    background: rgba(0, 160, 240, 0.8);
    display: block;
    width: 145px;
}
section#embalagem-especificacoes .especificacoes ul li{
    list-style-position: inside;
}
section#embalagem-especificacoes .embalagem{
   top: 89px;
   margin-left: -386px;
}
section#embalagem-especificacoes .especificacoes{
   top: 89px;
   margin-left: 10px;
}
/*CD*/
.cd-img-replace{display: inline-block; overflow: hidden; text-indent: 100%; white-space: nowrap;}
.cd-single-point{position: absolute; border-radius: 50%;}
.cd-single-point > a{position: relative; z-index: 99; display: block; width: 28px;  height: 28px; border-radius: inherit; background: #fbd791;
    background: -moz-linear-gradient(-45deg,  #fbd791 0%, #f7b432 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fbd791), color-stop(100%,#f7b432));
    background: -webkit-linear-gradient(-45deg,  #fbd791 0%,#f7b432 100%);
    background: -o-linear-gradient(-45deg,  #fbd791 0%,#f7b432 100%);
    background: -ms-linear-gradient(-45deg,  #fbd791 0%,#f7b432 100%);
    background: linear-gradient(135deg,  #fbd791 0%,#f7b432 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd791', endColorstr='#f7b432',GradientType=1 ); -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s;  transition: background-color 0.2s; transition: all .300s; -webkit-transition: all .300s; -ms-transition: all .300s; -moz-transition: all .300s; -o-transition: all .300s;}
.cd-single-point > a:hover{background-position:0 -30px;}
.cd-single-point > a:hover a::after, .cd-single-point > a:before{color:#000;}
.cd-single-point > a::after, .cd-single-point > a:before{ content: ''; position: absolute;  left: 50%; top: 50%; bottom: auto;   right: auto; -webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%);  -ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background-color: #1d4783; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; transition-property: transform;  -webkit-transition-duration: 0.2s;  -moz-transition-duration: 0.2s;  transition-duration: 0.2s;}
.cd-single-point > a::after{ height: 2px; width: 12px; }
.cd-single-point > a::before{height: 12px;  width: 2px;}
.cd-single-point::after{content: ''; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0; left: 0; border-radius: inherit; background-color: transparent; -webkit-animation: cd-pulse 500ms infinite; -moz-animation: cd-pulse 500ms infinite; animation: cd-pulse 500ms infinite;}
.cd-single-point.spot-aberto > a::after, .cd-single-point.spot-aberto > a::before{-webkit-transform: translateX(-50%) translateY(-50%) rotate(540deg); -moz-transform: translateX(-50%) translateY(-50%) rotate(540deg); -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg); -o-transform: translateX(-50%) translateY(-50%) rotate(540deg); transform: translateX(-50%) translateY(-50%) rotate(540deg);}
.cd-single-point.spot-aberto::after{display: none;}
.cd-single-point.aberto::after{display: none;}
.spot-aberto .cd-single-point::after{display:none;}


.spot{position: absolute; width:100%; height:100%; z-index:999999; -webkit-overflow-scrolling: touch; ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity: 0; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }

  50% {
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }

  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }

  50% {
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }

  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }

  50% {
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.98);
  }

  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2);
  }
}

.cd-single-point .cd-more-info{position: fixed; z-index: 3; width: 100%; height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; visibility: hidden; opacity: 0; -webkit-transform: scale(0.8);-moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;}
.cd-single-point .cd-more-info{position: absolute; width: 220px;height: 240px; overflow-y: visible;}
.cd-single-point .cd-more-info.cd-left, .cd-single-point .cd-more-info.cd-right{top: 50%; bottom: auto;-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.cd-single-point .cd-more-info.cd-left::before, .cd-single-point .cd-more-info.cd-right::before{top: 50%;    bottom: auto;    -webkit-transform: translateY(-50%);    -moz-transform: translateY(-50%);    -ms-transform: translateY(-50%);    -o-transform: translateY(-50%);    transform: translateY(-50%);}
.cd-single-point .cd-more-info.cd-left{right: 160%; left: auto;}
.cd-close-info{display:none;}