@charset "UTF-8";

@font-face {
    font-family: 'Coggers';
    src: url('../fonts/coggers-webfont.eot');
    src: url('../fonts/coggers-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coggers-webfont.woff') format('woff'),
         url('../fonts/coggers-webfont.ttf') format('truetype'),
         url('../fonts/coggers-webfont.svg#coggers_tariqaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    list-style: none;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1em;
}
body, html{
    width: 100%;
    min-height: 100%;
}
img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}
a{
    display: block;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.link-padding{
    position: relative;
    overflow: hidden;
    height: 0;
}
.clear{
    clear: both;
}
.animate{
-webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.content-center{
    width: 940px;
    padding: 0 15px;
    margin: 0 auto;
}
/*End of Reset Css*/

/*Header*/
header nav{
    background: black;
    padding: 10px 0;
}
header #main-logo{
    background: url(../images/urbano-logo.png);
    width: 159px;
    padding-top: 30px;
    display: inline-block;
}
header #main-logo{
    background: url(../images/urbano-logo.png);
    width: 159px;
    padding-top: 30px;
    display: inline-block;
}
header #main-logo, header ul{
    float: left;
}
header ul{
margin: 0 0 0 100px;
}
header li{
    display: inline-block;
}
header li a, header a#login{
    color: white;
    font-size: 16px;
    margin: 0 45px; 
    padding: 8px 0;
}
header a#login{
    float: right; 
    padding: 8px 0 2px 32px;
    background: url(../images/login.png) no-repeat left 2px;
}

/*Main banner*/
#main-banner{
    height: 122px;
    text-align: center;
}
#main-banner h2{
    font: normal 31px 'Coggers', Arial, sans-serif;
    color: white;
}
#main-banner a{
    font: normal 20px Arial, sans-serif;
    color: white;
    padding: 10px 20px;
    background: #c83e33;
    display: table;
    margin: 0 auto;
}

/*Footer*/
footer{
    background: #508384;
    padding: 40px 0;
}
footer ul{
    float: left;
}
footer li{
    display: inline-block;
}
footer li a:before{
    content:"|";
    margin: 0 5px;
    display: inline;
    color: inherit;
    font: inherit;
}
footer li:first-child a:before{
    content: none;
}
footer li a, footer small{
    color: white;
    font-size: 13px;
}
footer li a:hover{
    color: white;
    text-decoration: underline;
}
footer small{
    float: right;
}